
<div class="row justify-content-center m-0">
    <div class="col-10">
        <%= render 'errors' %>
        <div class="container">
            
            <%= form_with model: @article,class: "shadow p-3 mb-3 bg-white rounded" ,local: true, data: { turbo: false } do |f| %>
            
                <div class="form-group row">
                    
                        <%= f.label :title, class: "col-2 col-form-label" %>
                        <div class="col-10">
                        <%= f.text_field :title, class:"form-control shadow rounded", placeholder: "Title of article" %>
                        </div>
                    
                </div>
                <div class="form-group row">
                    
                    <%= f.label :description, class: "col-2 col-form-label" %>
                    <div class="col-10">
                    <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Description of article" %>
                    </div>
                    
                </div>
            <div class="form-group row justify-content-center">
                <%= f.submit class: "btn btn-oultine-light btn-lg" %>
            </div>

            <%= link_to '[ Go back to Articles ]', articles_path %>
        </div>

          

        <% end %>
        
    </div>
</div>